<form method="get">
  <table>
      <tr>
          <th> Admin Dashboard</th>
      </tr>
  </table>
</form>
<form method="get" action="/user_register">
  <button type="submit" >Register</button>
</form>
<form method="get" action="/task">
  <button type="submit">Add Task</button>
</form>